.footer {
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


@media (min-width: 320px) {
    .footer {
        width: 430px;
        margin: 0 auto;
        position: relative;
        left: 30px;
    }
}