<div class="flex-container">
    
    <button class="btn btn-primary about">About</button>   
    <img src='../assets/img/headshot.jpg' class='headshot'>
 
    <div class="card">
        <p class="card-text">My name is Melanie Rogoff, and I am a Junior Software Engineer. I am passionate about building user-friendly, aesthetically pleasing projects.</p>
        <p class="card-text">I have a Bachelor's of Science in Business Management from Arizona State University (4.0 GPA) as well as a Full-Stack Web Development Certificate from The University of Arizona.</p>
        <p class="card-text">Current Languages Include:</p>
            <i class="icon-sizing devicon-angularjs-plain"></i>
            <i class="icon-sizing devicon-typescript-plain"></i>
            <i class="icon-sizing devicon-bootstrap-plain"></i>
            <i class="icon-sizing devicon-css3-plain"></i>
            <i class="icon-sizing devicon-express-original"></i>
            <i class="icon-sizing devicon-heroku-plain"></i>
            <i class="icon-sizing devicon-html5-plain"></i>
            <i class="icon-sizing devicon-javascript-plain"></i>
            <i class="icon-sizing devicon-jquery-plain"></i>
            <i class="icon-sizing devicon-mongodb-plain"></i>
            <i class="icon-sizing devicon-mysql-plain"></i>
            <i class="icon-sizing devicon-nodejs-plain"></i>
            <i class="icon-sizing devicon-sequelize-plain"></i>
    </div>
</div>

<app-footer></app-footer>
