.nav-color {
    background: linear-gradient(120deg, rgba(2,0,34,1) 0%, rgba(209,59,208,1) 19%, rgba(0,212,255,1) 100%);
    color: white;
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}
