<div class="flex-contact">
    <button class="btn btn-primary contact-btn">Contact</button><br>    
        <div class="card contact-info col-2 col-md-2 col-lg-2">
            <span class="bigger">Let's get in touch!</span>
            <a href="https://www.linkedin.com/in/MelanieRogoff">        
                <img src="../assets/img/linkedin.png" class="icons" alt="linkedin" />
            </a>
        
            <a href="https://github.com/MelanieRogoff">        
                <img src="../assets/img/gitpink.png" class="icons" alt="github" />
            </a>
            <a href="tel:1-480-720-7836">        
                <img src="../assets/img/phone.jpeg" class="icons" alt="phone" />
            </a>
        
            <a href="mailto: mgrogoff@gmail.com">        
                <img src="../assets/img/email.png" class="icons" alt="email" />
            </a>
        </div>
</div>

<app-footer></app-footer>