
.contact-btn {
    margin: 0 auto;
}

.flex-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icons { 
    height: 60px;
    width: 60px;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.bigger {
    font-size: 17px;
    padding: 8px;
}

@media (min-width: 320px) {

    .contact-btn {
        margin: 0 auto;
    }
    
    .contact-info {
        margin: 0 auto;
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .flex-contact {
       position: relative;
       left: 40px;
    }

}