a {
    color: white;
}

.container {
    margin: 0 20px 20px 70px;
}

.project-card {
    margin-top: 14px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-photos { /*All the projects EXCEPT Track That Track*/
    height: 260px;
    width: 340px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}

@media (min-width: 320px) and (max-width: 454px) {
    .portfolio-btn {
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .project-card {
        margin-left: 40px;
    }
}
    @media (min-width: 456px) {
        .portfolio-btn {
           margin: 0 auto;
           justify-content: center;
           display: flex;
    }
}