.flex-resume {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 20px 20px 70px;
}

.resume-btn {
    margin: 0 auto;
}
.resume-photo {
    height: 400px;
    width: 430px;
    margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 458px) {
    .flex-resume {
        margin: 0 20px 20px 30px;
    }

    .resume-photo {
        width: 410px;
    }

    p {
        text-align: center;
        justify-content: center;
        align-content: center;
        width: 400px;
    }
}

@media (min-width: 459px) and (max-width: 600px) {
    .flex-resume {
        margin: 0 20px 20px 30px;
    }

    .resume-photo {
        width: 410px;
    }

    p {
        text-align: center;
        justify-content: center;
        align-content: center;
        width: 400px;
    }
}